@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.opportunity-list {
  text-align: left;
  margin-top: 20px;
}

.opportunity-item {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.language-switch {
  background-color: #61dafb;
  color: white;
}

.login-button {
  background-color: #282c34;
  color: white;
}

.sign-in-button {
  background-color: #61dafb;
  color: white;
}

.footer {
  margin-top: auto;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
